
@{
    ViewData["Title"] = "AddClient";
}

<h1>AddClient</h1>

<form action="~/Admin/AddClient" method="post">
    <input type="text" name="Name" value="Name1" />
    <input type="text" name="Surname" value="Surname1" />
    <input type="text" name="City" value="ogr" />
    <input type="number" name="Money" value="130000" />
    <button type="submit">Add</button>
</form>