
@{
    ViewData["Title"] = "Show";
}

<h1>RightRedirect</h1>
<form action ="~/Admin/FullBase" method="post">
    <button type="submit">redirect</button>
</form>

<form action ="~/BankFunction/ShowWallets" method="get" >
    <button type="submit">
        курсы валют
    </button>
</form>